* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../images/pexels-photo-196645.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
}

header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    background-color: whitesmoke;
    font-size: 25px; 
    font-family: 'Ubuntu', sans-serif;
    position: fixed;
    top: 0;
    width: 100vw;
}

.menu ul {
    display: flex;
    justify-content: space-around;
    border-color: indianred;
    border-width: 0px 0px 5px 0px;
    border-style: solid;
}

.menu li {
    list-style: none;
}

.menu a {
    text-decoration: none;
    color: slategray;
    font-weight: bolder;
    display: block;
    padding: 10px 20px;
    transition: background-color, color 1s;
}

.menu a:hover {
    background-color: indianred;
    color: whitesmoke;
}

.site-title {
    text-align: center;
    color: slategray;
    background-color: whitesmoke;
    font-size: 70px ;
    border: 5px indianred solid;
    width: 500px;
    height: 100%;
    padding: 10px;
}

.site-subtitle {
    font-style: oblique;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    text-decoration: underline slategray;
    font-size: 180%;
    color: indianred;
    margin-top: 10px;
}

/* breakpoint */

@media (max-width: 500px) {
    .menu {
        font-size: 20px;
    }
    
    .menu ul {
        border-width: 0px 0px 3px 0px;        
    }
    .site-title {
        font-size: ;
        width: 280px;
        height: 180px;
        padding: 5px;
        border: 3px indianred solid;
    }
    .site-subtitle {
        font-size: 25px;
    }
}

/********************************************
                PORTFOLIO
********************************************/

/*.contato,*/
.portfolio {
    font-family: 'Ubuntu', sans-serif;
    color: indianred;
    padding: 2em;
    min-height: 50vh;
}

.contato,
.portfolio h2 {
    font-family: 'Roboto', sans-serif;
    color: slategray;
    margin-bottom: 5px;
    font-size: 50px;
}

.portfolio .grid {
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(4,350px);
    align-content: center;
    justify-content: center;
}

@media (max-width: 500px){

    .portfolio {
        padding: 1em;
    }

    .portfolio h2 {
        font-size: 35px;

    
    }

    .portfolio .grid {
        grid-template-columns: 100px;
        align-content: center;
        justify-content: center;
        margin-right: 40%;
    }

    .img-portfolio {
        height: 50px;
        width: 50px;
    }
}

/*@media (min-width: 560px) {
    .portfolio .grid {
        grid-template-columns: 250px 250px;
    }    
}

@media (min-width: 880px) {
    .portfolio .grid {
        grid-template-columns: repeat(3, 260px);
        align-content: center;
        justify-content: center;
        height: calc(100vh - 8em - 48px);
    }
}
*/
.portfolio figure {
    text-align: center;
}

.img-portfolio {
    height: 180px;
    width: 250px;
    object-fit: cover;
    object-position: left bottom;
    transition: transform 500ms;
}

.img-portfolio:hover {
    transform: scale(1.2);
}

@media (min-width: 1200px){

    .img-portfolio {
        height: 180px;
        width: 100%;
    }

}

/*******************************************
                CONTATO
*******************************************/

.contato .icons {
    text-align: center;
}

.contato h2 {
    font-size: 50px;
    margin-left: 25px;
}

.contato a {
    color: indianred;
    font-size: 2em;
    text-decoration: none;
}

.contato a:active,
.contato a:hover {
    text-decoration: none;
    text-shadow: 2px 2px 2px grey;
}

@media (max-width: 500px){
    .contato h2 {
        font-size: 35px;
        margin-bottom: 5px;
        margin-left: 15px;
    }
    .contato a {
        font-size: 50px;
        padding: 5px;
        margin-bottom: 10px;
    }

    .contato a:hover {
        text-decoration: none;
    }
}