* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../images/fundo-site.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    background-color: whitesmoke;
    border: 5px tomato solid;
    font-size: 20px;
    position: fixed;
    top: 0;
    width: 100vh;
}

.menu ul {
    display: flex;
    justify-content: space-around;
}

.menu li {
    list-style: none;
}

.menu a {
    text-decoration: none;
    color: teal;
    /*font-size: 20px bold;*/
    display: block;
    padding: 10px 20px;
}

a:hover {
    text-decoration: line-through;
    color: tomato;
}


.site-title {
    text-align: center;
    justify-content: center;
    color: whitesmoke;
    background-color: slategray;
    font-size: 40px;
    border: 5px tomato solid;
    width: 500px;
    height: 100px;
}

.site-subtitle {
    font-style: italic;
    text-align: center;
    color: whitesmoke;
    margin-top: 10px;
}

.img-portfolio {
    height: 180px;
    width: 180px;
}