* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../images/pexels-photo-196645.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    background-color: whitesmoke;
    font-size: 25px;
    font-weight: bold;
    position: fixed;
    top: 0;
    width: 100%;
}

.menu ul {
    display: flex;
    justify-content: space-around;
    border-color: indianred;
    border-width: 0px 0px 5px 0px;
    border-style: solid;
}

.menu li {
    list-style: none;
}

.menu a {
    font-style: oblique;
    text-decoration: none;
    color: slategray;
    /*font-size: 20px bold;*/
    display: block;
    padding: 10px 20px;
}

a:hover {
    text-decoration: line-through;
    color: indianred; 
}


.site-title {
    font-style: oblique;
    text-align: center;
    color: slategray;
    background-color: whitesmoke;
    font-size: 60px;
    border: 5px indianred solid;
    width: 500px;
    height: 100px;
    padding: 10px;
}

.site-subtitle {
    font-style: oblique;
    text-align: center;
    text-decoration: underline slategray;
    font-size: 180%;
    color: indianred;
    margin-top: 10px;
}

.img-portfolio {
    height: 180px;
    width: 180px;
}
